*{
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Poppins', sans-serif;
    width: 100%;
}

body{
    background-image: linear-gradient(
        to right,#37ecba,#73afd3
    );
}

.navbar-brand{
    position: relative;
    font-size: 30px !important;
    font-weight: 500;
    color: white !important;
    background-color: transparent !important;
    text-shadow: 0px 2px 10px grey;
}

.container{
    margin: 10px 10px;
    background-color: white !important;
    width: 40% !important;
    height: 90% !important;
    border: transparent !important;
    padding: 10px 10px;
    box-shadow: 0px 2px 20px grey;
    border-radius: 8px;
}


.text{
    color: black !important;
    font-weight: 300;
    font-size: 18px;
}

.text-head{
    font-weight: 500;
    color: black;
}

.answer-holder{
    padding: 0px 10px;
    border: transparent;
}

.answer-holder:hover{
    -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer */
   -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}

.btn{
    margin: 20px 10px;
    font-weight: 500 !important;
    width: 25% !important;
    font-size: 25px !important;
}

.btn-primary{
    background-color: transparent !important;
    border-color: white !important;
    outline-width: 20px !important;
}

.btn-primary:hover , .btn:hover{
    background-color: white !important;
    color: turquoise !important;
}

.alerts{
    color: red !important;
    background-color: transparent !important;
    font-size: 15px;
    
}


/* .heading-title{
    margin-top: 50px;
    text-align: center;
    font-weight: 500;
    text-shadow: 0px 2px 10px grey;
}

.details-para{
    font-size: 25px;
    color: white;
    text-align: center;
    font-weight: 500;
    text-shadow: 0px 2px 10px grey;
    position: relative;
    justify-items: center;
} */
